<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">


      <% if @model == 'book' %>
        <h2>Books</h2>
      <table class="table table-striped">
      <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
      <th colspan="3"></th>
      </tr>
       <% @records.each do |book| %>
      <tr>
       <td>
          <%= link_to user_path(book.user) do %>
           <%= attachment_image_tag book.user, :profile_image, size:'40x40', format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
       </td>
       <td>
         <span>
           <%= link_to book_path(book.id) do %>
            <%= book.title %>
           <% end %>
         </span>
       </td>
       <td>
         <%= book.body %>
       </td>
        <% end %>
        <% else @model == 'user' %>
          <h2>Users</h2>
      <table class="table table-striped">
      <tr>
       <th></th>
       <th>Name</th>

      <th colspan="3"></th>
      </tr>
          <% @records.each do |user| %>
      <tr>
       <td>
          <%= link_to user_path(user) do %>
           <%= attachment_image_tag user, :profile_image, size:'40x40', format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
       </td>
       <td>
         <%= user.name %>
       </td>
       <td>
       <span>
         <%= link_to "Show", user_path(user.id) %>
        </span>
        </td>
        <% end %>
        <% end %>

    </table>
    </div>
  </div>
</div>